html, body {
  background-color: #D1D1D0;
}
a{
    color: white!important;
}
/*header*/
.img-home-top{
    margin: 0px!important;
    padding:0px!important;
}
#contenitore-img-titolo-top{
    position: absolute;
    z-index: 9999;
    height: 400px;
    width: 400px;
    top:20px;
}

/*css Menù */
nav ul{
background-color: #0E538F;
}
nav ul li{

}
nav ul a:hover{
     color: black!important;
}
.menu{
margin-right: 75px;
}
/*section*/
section{
height: 100%;
}
/*css titoli*/
h2{
   font-weight: bold;
}
h4{
   font-size: 20px;
   font-weight: bold;
}
p{
   font-size: 14px;
}
.box{
   margin-top: 60px;
}
.box-bottom{
   margin-bottom: 60px;
}
/*footer*/

.text-footer{
   
    background-color: #0E538F;
    color: white;
    font-size: 14px;
    padding: 15px;
    padding-left: 25px;
}
.text-footer p{
    padding-top: 50px;
}
/* css page*/
.page{
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
}

/*side bar e box height 100%*/
.info-container{

}

.img-post-slide{
   display: none;
}

/*css side bar*/
.body{
    display: table;

}
.sidebar{
    background-color: #2881C9;
    font-size: 14px;
    padding-left: 10px;
    height:100%;
    position: relative;
    
}
.sidebar h3{
    font-size: 25px;
    text-align: center;
}
.side-menu{
 
    position: absolute;

}
/*css content*/
.content{
   padding-top: 50px;
    margin:0px;
    padding-right: 8%;
    background-color: white;
    
    
}
.cnt-img {
    height: 115px;
    overflow: hidden;

    
}
.content img{
    padding: 0px;
    padding: 0px;
    width: 250px; 
    height: auto;
    margin-bottom: 20px;
    margin-left: 25px;


}

.content p{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 25px;
    font-size: 18px;
}
#description{
   padding-bottom: 50px;
}
.content-img p{
    color: black;
    display: block;
    height: 50px;
    width: 250px;
    left: 10px;
    top:-15px;
}
/*css homepage*/

.contenitore-centrale{
     background-color: white;


}
/*css header sito*/
#header-contenitore{
    background-color: white;
}
#indietro{
    color: #0E538F;
    font-size: 50px;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 30px; 
}
/*css servizi / location*/
.spaziatore{
    height: 50px;
}
.container-servizi{
     
     background-color: white;
     margin-top: 20px;
     margin-bottom: 10px;
     height: 150px;
     overflow: hidden;
}
.container-servizi h3{
    font-size: 20px;
    color: #656666;
    font-weight: bold;
    
}
.container-servizi p{
    font-size: 14px;
    color: #656666;
    padding-left: 25px;

}
.container-servizi img{
    margin-left: 80px;
    padding: 0px;
    width: 400px; 
    height: auto;
}

/*css dottori*/
#form-dottori{
    background-color: #0E538F;
    padding-top: 25px;
    padding-left:25%;
}

#form-dottori li{
    width: auto!important;
    padding: 15px;
    
}

#indietro p{
    color:#0E538F;
    font-size:50px;
}

#form-dottori select{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    height: 50px;
    margin-top: 0px;
    background-color: #2881C9;
    border: 1px solid #2881C9;
    color: white;
    font-size: 18px;
}
/*pagina dottore*/
.box-dottore{
    margin-top: 25px;
}
.box-dottore img{


}
.nome-dottore{
    color: white;
    position: absolute;
    z-index: 9999;
    top:85px;
    left:15px;
    padding-top: 15px;
    padding-left: 5px;
    height: 50px;
    width: 264px;
    overflow: hidden;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f6ff+39,000000+100 */
    background: rgba(255,255,255,1);
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    }
    .container-skill-dottore p{
    
            color: white;
            position: absolute;
            z-index: 9999;
            top:85px;
            left:15px;
            padding-top: 15px;
            padding-left: 5px;
            height: 50px;
            width: 264px;
            overflow: hidden;
        
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f6ff+39,000000+100 */
            background: rgba(255,255,255,1);
            background: rgba(255,255,255,0);
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
    }
/*css area competenza*/
.container-competenze{
     background-color:white; 
    margin-bottom: 10px;
}
.container-competenze h4{
    font-size: 30px;
    padding: 10px;
}
.container-competenze img{
    width: 255px;
    height:  150px;
    padding: 0px;
  

}
.container-competenze p{
   font-size: 14px;
    color: black;
    padding-top: 22px;
    padding-left: 10px;



}
.contenitore-img-top{
    padding: 0px;
    margin: 0px;
    height: 460px;
    overflow: hidden;
}
.img-top-pagine-descrizione{
    padding: 0px;
    margin: 0px;
}
.titolo-img-top{
  
    color: white;
    position: absolute;
    z-index: 9999;
    top:370px;
    left:0px;
    padding-top: 24px;
    padding-left: 30px;
    height: 70px;
    width: 100%;
    background: rgba(255,255,255,1);
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}
.btn-menu-laterale{
    display:none;
}
/*singolo location*/
.box-bottom-single-location p{
   padding: 0px;
   margin:0px;
   font-size: 16px;
   text-align: right;
}
/*schedaservizio singolo*/
#doctors{
   margin-top: 80px;
}
/*scheda dottore singolo*/
.cnt-skil-dottore h4{
   margin-left: 25px;
}
.cnt-skil-dottore img{
   height: 120px;
}
.cnt-skil-dottore p{
   margin-top:-25px;
}

.doctors-name {
   padding-top: 20px;
   padding-left: 35px;
}

/*-- Re-styled Thumbnail Demo --*/
.testo-slide-home{
    color: white;
    font-size: 25px;
     position: absolute;
     top: 300px;
     left:500px;
    z-index: 9999;
    background-color: black;
    height:150px;
    width: 450px;
    opacity:0.9;
}
.thumbFeatures{
    height: 400px;
    width: 900px;
    position: absolute;
    display: block;
    overflow:hidden;
    margin-left: 125px;
}
.img-slide{
    height: 400px;
    width: 900px; 
}

.thumbFeatures p.jshowoff-controls {
   background: none;
   height: 38px;
   overflow: visible;
   padding: 0;
   position: absolute;
   top: 180px;
   width: 100%;
   z-index: 150;
   }
.thumbFeatures .jshowoff-controls a {
   display: block;
   width: 22px;
   height: 38px;
   background: none;
   background-repeat: no-repeat;
   margin: 0;
   padding: 0;
   text-indent: -10000em;
   position: absolute;
   }

    .thumbFeatures .jshowoff-controls a.jshowoff-prev {
        left: 15px;
        background-image: url(http://farm5.static.flickr.com/4035/4438728886_fd55756fc5_o_d.gif);
        }
    .thumbFeatures .jshowoff-controls a.jshowoff-next {
        right: 15px;
        background-image: url(http://farm3.static.flickr.com/2743/4438728872_07e935da40_o_d.gif);
        }
    .thumbFeatures .jshowoff-controls a.jshowoff-play {
        display: none;
        }


    .img-mobile{
                    display: none;
                }
@media screen and (max-width: 1200px) {
            .contenitore-img-top{
                padding: 0px;
                margin: 0px;
                height: 380px;
                overflow: hidden;
            }
            .sidebar{
                padding-top: 5px;
                padding-bottom: 40px;
            }
            .thumbFeatures{
             height: 400px;
             width: 500px;
             margin-left: 100px;
             }
            .img-slide{
                    height: 400px;
                    width: 500px;
                    
            }
            .content-img{
               padding: 0!important;
               
            }
         .content-img p{
            position: absolute;
            top:20;
         }


}
@media screen and (max-width: 990px) {
            #form-dottori{
               
                padding-top: 25px;
                padding-left:15%;
            }
            .img-slide{
                    height: 400px;
                    width: 500px;
                    
                }
}

@media screen and (max-width: 767px) {
           #form-dottori select{
                width:80%;
                height: 50px;
            }
}

@media screen and (max-width: 1200px) {
            .sidebar{
                padding-top: 5px;
                padding-bottom: 40px;
            }
            .thumbFeatures{
             height: 400px;
             width: 700px;
             margin-left: 125px;
             }
            .img-slide{
                    height: 400px;
                    width: 700px;   
            }
            .img-mobile{
                display: none;
            }
            .testo-slide-home{
                color: white;
                font-size: 25px;
                position: absolute;
                top: 300px;
                left:400px;
                z-index: 9999;
                background-color: black;
                height: 100px;
                width: 350px;
                opacity:0.9;
            }

         .nome-dottore{
            top:60px;
            left:15px;
            padding-top: 20px;
            padding-left: 5px;
            height: 50px;
            width: 214px;
            }


        .container-servizi img{
            margin-left: 31px;

        }
        .titolo-img-top{
            top:290px;
            left:0px;
            padding-top: 24px;
            padding-left: 30px;
            height: 70px;
        }
        .content-img {
              padding-right:50px;
        }
        .content-img p{
         top: 100px;
        }
 
}
@media screen and (max-width: 990px) {
            .contenitore-img-top{
                padding: 0px;
                margin: 0px;
                height: 300px;
                overflow: hidden;
            }
            #contenitore-img-titolo-top{
                position: absolute;
                z-index: 9999;
                height: 300px;
                width: 300px;

            }
            #form-dottori{
               
                padding-top: 25px;
                padding-left:15%;
            }
            .thumbFeatures{
             height: auto;
             width: 500px;
             margin-left: 125px;
             }
            .img-slide{
                    height: auto;
                    width: 500px;
                    
            }
             .testo-slide-home{
                color: white;
                font-size: 25px;
                position: absolute;
                top: 300px;
                left:250px;
                z-index: 9999;
                background-color: #400;
                height: 100px;
                width: 250px;
                opacity:0.9;
            }

            .nome-dottore{
                top:62px;
                left:15px;
                padding-top: 20px;
                padding-left: 5px;
                height: 50px;
                width: 220px;
            }
            .container-servizi img{
                margin-left:30px;

            }
            .content-img{
                margin-bottom: 50px;
                height: 200px;
            }
            .cnt-img{
               height: 180px;
               overflow: hidden;
            }
            .content img{
                padding: 0px;
                padding: 0px;
                width: 200px; 
                height: auto;
                margin-bottom: 20px;
                margin-left: 15px;
                margin-left: 15px;
            }
            .content-img p{
               top: 175px;
            }


            .titolo-img-top{
                top:210px;
                left:0px;
                padding-top: 24px;
                padding-left: 30px;
                height: 70px;
            }
             .container-skill-dottore p{
                top:35px;
                left:30px;
                padding-top: 0px;
                padding-left: 5px;
                height: 25px;
                width: 200px;
                overflow: hidden;
             }
             .content-img img{
               width: 400px;
             }
               .img-slide{
                   display: none;
                    
            }
            .thumbFeatures{
                display: none;
             }
             .img-post-slide{
             display: block;
      }
                        .position-doctors{
         margin-left:150px ;
      }


}

@media screen and (max-width: 767px) {
         #contenitore-img-titolo-top{
                position: absolute;
                z-index: 9999;
                height: 300px;
                width: 300px;

            }
           #form-dottori select{
                width:80%;
                height: 50px;
            }
                        .img-slide{
                   display: none;
                    
            }
            .thumbFeatures{
                display: none;
             }
            .img-slide{
                    height: 300px;
                    width: 500px;
                    
            }
            .img-mobile{
                display: none;
            }
            .testo-slide-home{
                color: white;
                font-size: 25px;
                position: absolute;
                top: 240px;
                left:300px;
                z-index: 9999;
                background-color: black;
                height: 80px;
                width: 200px;
                opacity:0.9;
            }
            .container-servizi img{
            display:none;
            }
            .nome-dottore{
                top:0px;
                left:15px;
                padding-top: 2px;
                padding-left: 5px;
                height: 25px;
                width: 247px;
                background: black;
                opacity: 0.5;
            }
            .container-competenze{
               padding-top: 50px;
            }

            .container-competenze img{
                    width:100%;
                    height: auto;
            }
            .container-competenze p{
               font-size: 20px;
                width:216px;
                height: 35px;
                top:10px;
                padding-top: 10px;
                padding-bottom: 60px;
            }
            .content img{
             width:100%;
             height: auto;
            }

            .titolo-img-top{
                top:-30px;
                left:0px;
                padding-top: 24px;
                padding-left: 30px;
                height: 70px;
            }
            .container-skill-dottore p{
                top:25px;
                left:30px;
                padding-top: 0px;
                padding-left: 5px;
                height: 25px;
                width: 230px;
                overflow: hidden;
             }
             .contenitore-img-top{
                   padding: 0px;
                   margin: 0px;
                   height: 50%;
                   overflow: hidden;

               }
            #contenitore-img-titolo-top{
                position: absolute;
                z-index: 9999;
                height: 150px;

            }
            .mobile-cnt-home-top{
                 height: 250px;
                 background-color: white;
             }
            .img-home-top{
                display: none;
            }
            .thumbFeatures{
                display: none;
             }

}
@media screen and (max-width: 614px) {
             #contenitore-img-titolo-top{
                position: absolute;
                z-index: 9999;
                height: 150px;

            }
           #form-dottori select{
                width:80%;
                height: 50px;
            }

            .img-slide{
                   display: none;
                    
            }
            .thumbFeatures{
                display: none;
             }
            .img-mobile{
                display: block;
            }
            .img-home-top{
                display: none;
            }
            .container-competenze img{
                    width:50%;
                    height: auto;
            }
                  .position-doctors{
         margin-right:50px ;
         margin-left: 0px;
      }
}
